@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200&family=Roboto&display=swap');
body {
    background-color: rgb(223, 223, 223);
}

h1 {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 3rem;
    margin-left: 25px;
    line-height: 70px;
}

.conteudo {
    background-color: rgb(223, 186, 106);
    width: 99%;
    border-radius: 10px;
    display: flexbox;
    margin-top: 30px;
    height: 600px;
    position: relative;
}

.texto {
    color: aliceblue;
    width: 93%;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 25px;
    line-height: 30px;
    margin-top: 180px;
    margin-left: 50px;
}

.titulo {
    color: aliceblue;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 40px;
    margin-left: 50px;
    position: relative;
    top: 90px;
    line-height: 15px;
    white-space: nowrap;
    text-align: center;
}

.botao {
    color: aliceblue;
    box-shadow: 0px 6px 15px -7px #ac7002;
    background: linear-gradient(to bottom, #d39728 5%, #be871f 100%);
    background-color: #599bb3;
    border-radius: 25px;
    font-family: 'Nunito Sans', sans-serif;
    border: none;
    font-size: 30px;
    padding: 14px 32px;
    text-shadow: 0px 2px 0px #3d768a;
    position: absolute;
    left: 40%;
    bottom: 100px;
    transition: transform 0.3s;
    text-decoration: none;
}

.textcheck {
    color: rgb(255, 255, 255);
    font-family: 'Nunito Sans', sans-serif;
    display: flex;
    font-size: 20px;
    line-height: 30px;
    margin-left: 50px;
    margin-top: 140px;
}

.custom-checkbox {
    position: relative;
    margin-left: 44%;
    margin-bottom: 17px;
}

.custom-checkbox input {
    position: absolute;
    opacity: 0;
}

.custom-checkbox-label {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border: 2px solid #599bb3;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 2px;
}

.custom-checkbox input:checked+.custom-checkbox-label {
    background-color: #599bb3;
}

.custom-checkbox input {
    visibility: hidden;
}